@import '../../../styles/colors';
@import '../../../styles/variables';


#eat {
  background-color: $palegold;
  position: fixed;
  top: 0;
  left: 0;

  .eat-buttons {
    position: fixed;
    left: 10px;
  }
}