@import '../../../styles/colors';
@import '../../../styles/variables';


#play {
  background-color: $mellowgreen;
  position: fixed;
  top: 0;
  left: 50%;
  .play-zone {
    position: fixed;
    right: 10px;
  }
}
