@import '../../../styles/colors';
@import '../../../styles/variables';


#fight {
  background-color: $lightishred;
  position: fixed;
  top: 50%;
  left: 0;
    
  .fight-zone {
    position: fixed;
    top: 88%;
    left: 10px;
    
    }
  }
