@import '../../../styles/colors';
@import '../../../styles/variables';

#sleep {
  background: $coolgray;
  position: fixed;
  top: 50%;
  left: 50%;

  .sleep-zone {
    position: fixed;
    right: 10px;
    top: 88%;
  }
}